.button {
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background: none;
  margin-left: 23px;
  cursor: pointer;
}

.logout {
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 51px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  &login {
    font-size: 18px;
    color: #52c41a;
    &:hover {
      color: aliceblue;
      background-color: #52c41a;
    }
  }
  &logout {
    color: rgba(0, 0, 0, 0.75);
  }
}
.buttonIn {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.85);
}
.login {
  border-color: #52c41a;
}
.signIn > a {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}
.signIn > a:hover {
  color: #52c41a;
}

@media (min-width: 320px) and (max-width: 600px) {
  .link {
    width: 70px;
    height: 40px;
  }
}
