.button {
  margin-top: 25px;
  background: none;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 78px;
  height: 31.1px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.edit {
  border: 1px solid #52c41a;
  border-radius: 5px;
}
.delete {
  margin: 0px 10px 0 7px;
  border: 1px solid #f5222d;
  border-radius: 5px;
}
.linkEdit {
  color: #52c41a;
  width: 65px;
  height: 31.1px;
}
.linkDelete {
  color: #f5222d;
  width: 78px;
  height: 31.1px;
  cursor: pointer;
}
